---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About BoxOfStuff.com"
	description="Information about what is in the box"
	pubDate={new Date('January 10 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	
	<p>
		Coming soon
	</p>
</Layout>
